<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    <form action="/display" method="get">

        <textarea name="analyze" id="" cols="30" rows="10"></textarea>
        <input type="checkbox" name="removepunc" value="on" id=""> Remove Punctuations <br>
        <button type="submit">analyze</button>

    </form>
    
</body>
</html>